# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.7.0/darwin_amd64/terraform-provider-aws_v5.7.0_x5
